<%= form_for [@book, Review.new] do |form| %>
	<p><%= form.label :author %></p>
	<p><%= form.text_field :author %></p>

	<p><%= form.label :rating %></p>
	<p><%= form.select(:rating, [['0', 1], ['1', 2], ['2', 3], ['3', 4], ['4', 5], ['5', 6]]) %></p>

	<p><%= form.label :text, "Review" %></p>
	<p><%= form.text_area :text %></p>

	<%= form.submit "Save Review" %>
<% end %>