<% title "New Book" %> 
<%= form_for @book, :html => { :multipart => true } do |form| %> 
  <p>
    <%= form.label :cover_image %><br/>  
    <%= form.file_field :cover_image %>
  </p>  
  <p>  
    <%= form.label :title %><br/>  
    <%= form.text_field :title %>  
  </p>  

  <p><%= form.label :author %></p>
  <p><%= form.text_field :author %></p>
  
  <p>  
    <%= form.label :description %><br/>  
    <%= form.text_area :description %>  
  </p>  
  
  <%= form.submit "Save Book" %>  
<% end %>  