<% title @book.title %>  
  
<h2><%=link_to(h(@book.title), book_path(@book)) %></h2>  
<h3><%=h "by: " + @book.author %></h3>
<p><%= @book.description %></p> 

<% if @reviews %>
	<h3>Reviews</h3>

	<% for review in @reviews do %>
		<p><em><%=h(review.author) %></em> <%= "Rating: " + review.rating.to_s + "/5" %></p>
		<p><%=h review.text %></p>
	<% end %>
<% end %>

<h3>Post Your Review!</h3>
<%= render "form" %>