<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body> 
    <div id="container">
      <% if current_admin %>
        <p><%= link_to "Admin Logout", admin_session_path(current_admin_session), :method => :delete %></p>
      <% else %>
        <p><%= link_to "Admin Login", new_admin_session_path %></p>
      <% end %>

      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(:current) %> |
        <%= link_to "Logout", user_session_path(current_user_session), :method => :delete %>
      <% else %>
        <%= link_to "Register", new_user_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

    </div>
  </body>
</html>
